*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {
    --main-bg-color: #F9E5BC;
    --blue-text-color: #DD2E4B;
    --pre-hover-color: #9E8F70;

    --primary-font: 'Open Sans',
        Arial,
        Helvetica,
        sans-serif;
}

html {
    background-color: var(--main-bg-color);
}

body {
    max-width: 80%;
    margin: 0 auto;
}

.navigation-header {
    padding: 4em 0;
    /* max-width: 80%;
    margin: 0 auto; */
}

nav {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 50%;
}

.navigation-item {
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--pre-hover-color);
    font-size: .9em;
    border: 1px solid var(--pre-hover-color);
    padding: .6rem 1.2rem;
    border-radius: 3rem;
    transition: color .3s ease-in;
}

.navigation-item:hover {
    color: var(--blue-text-color);
    border-color: var(--blue-text-color);
}

.navigation-item:first-child {
    margin-right: 1rem;
}

// maincontent

.main-content {
    background-color: red;
}

.main-text,
.sub-text {
    font-family: var(--primary-font);
    color: var(--blue-text-color);
}

.main-text {
    font-size: 3.5em;
    max-width: 90%;
    margin-bottom: 27rem;
}

.sub-text {
    font-weight: 400;
    font-size: 1.5em;
}

// MEDIA QUERIES

// navigatie
@media (max-width: 600px) {
    .navigation-header {
        max-width: 90%;
    }
}