*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--main-bg-color);
}

body {
  max-width: 80%;
  margin: 0 auto;
}

.btn {
  background-color: var(--main-bg-color);
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  font-size: 0.9rem;
  border: 1px solid var(--pre-hover-color);
  border-radius: 3rem;
  padding: 0.6rem 1.2rem;
}

.fixed-btn {
  position: fixed;
  bottom: 3rem;
  right: 3.5rem;
}

.navigation-header {
  padding: 4em 0;
  animation: 0.7s ease-out 0s 1 slideDown;
  /* max-width: 80%;
  margin: 0 auto; */
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 50%;
}

.navigation-item {
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  font-size: 1em;
  border: 1px solid var(--pre-hover-color);
  padding: 0.6rem 1.2rem;
  border-radius: 3rem;
  transition: color 0.3s ease-in;
}

.navigation-item:hover {
  color: var(--blue-text-color);
  border-color: var(--blue-text-color);
}

.navigation-item:first-child {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .navigation-header {
    max-width: 100%;
    margin: 0 auto;
  }
}
footer {
  padding: 4em;
}

.footer-text {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  font-size: 0.8em;
  margin-top: 3rem;
}

.main-text,
.sub-text {
  font-family: var(--primary-font);
}

.main-text {
  font-size: 3.5em;
  color: var(--blue-text-color);
  max-width: 90%;
  margin-bottom: 27rem;
  animation: 0.7s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sub-text {
  animation: 0.7s ease-out 0s 1 slideUp;
  display: inline-block;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--pre-hover-color);
  margin-right: 1rem;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

.sub-text:hover {
  transform: translateY(-10px);
  color: var(--blue-text-color);
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 798px) {
  .main-text {
    font-size: 2em;
    margin-bottom: 15rem;
  }
  .sub-text {
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  .main-content {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 415px) {
  .main-text {
    font-size: 1.6em;
  }
}
.flex-container {
  animation: 0.7s ease-out 0s 1 slideUp;
}

.row {
  display: flex;
  gap: 2rem;
}

.row-margin {
  margin-bottom: 3rem;
}

.col {
  width: 100%;
}

.col-text {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.col-p {
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  font-size: 1em;
  margin-top: 0.8rem;
}

.col-p:first-child {
  margin-right: 1rem;
}

.img-project {
  width: 100%;
  border-radius: 0.8rem;
  transition: all ease-in 0.3s;
}

.img-project:hover {
  transform: translateY(-10px);
}

.col-a {
  text-decoration: none;
}

.col-title {
  font-family: var(--primary-font);
  color: var(--blue-text-color);
  font-weight: 600;
  font-size: 1.2em;
}

@media (max-width: 1024px) {
  .row {
    display: block;
  }
  .col:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (max-width: 600px) {
  .col-text {
    display: block;
  }
  .col-title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 550px) {
  .col-title {
    margin-bottom: 0.5rem;
  }
  .col-p {
    font-size: 0.9em;
    margin-top: 0.1rem;
  }
}
.margin-top-bg {
  margin-top: 6rem;
}

.container {
  width: 100%;
}

.container-text {
  max-width: 70%;
  margin: 0 auto;
}

.hero-text {
  font-family: var(--primary-font);
  color: var(--blue-text-color);
  line-height: 1.3em;
  font-size: 2.8em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-p {
  font-family: var(--primary-font);
  font-size: 1.1em;
  color: var(--text);
  line-height: 1.8em;
  margin-bottom: 2.5rem;
}

.hero-tags {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.tag-title,
.tag-sub {
  font-family: var(--primary-font);
  line-height: 1.8em;
}

.tag-title {
  color: var(--blue-text-color);
  font-weight: 600;
}

.tag-sub {
  color: var(--text);
}

.hero-img {
  width: 100%;
}

.content {
  margin-top: 6rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.circle {
  height: 0.6rem;
  width: 0.6rem;
  background-color: var(--blue-text-color);
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.project-fase {
  display: inline-block;
  font-family: var(--primary-font);
  color: var(--blue-text-color);
  font-size: 1.1rem;
  font-weight: 400;
  border: 1px solid var(--blue-text-color);
  padding: 1rem 1rem;
  border-radius: 3rem;
}

.project-tags {
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  line-height: 1.8em;
}

.content-title {
  font-family: var(--primary-font);
  color: var(--blue-text-color);
  margin-bottom: 0.6rem;
  font-size: 1.3em;
}

.content-p {
  font-family: var(--primary-font);
  color: var(--text);
  line-height: 1.8em;
}

.bold-span {
  font-weight: 700;
}

.white-space {
  margin-top: 1rem;
}

.line {
  background-color: var(--line);
  padding: 0.03rem;
  margin: 3rem 0;
}

.img-quotes {
  max-width: 60%;
  display: block;
  margin: 3rem auto;
}

.img-empathy {
  max-width: 100%;
  display: block;
  margin: 3rem auto;
}

.img-primaire,
.img-secondaire {
  max-width: 100%;
  display: block;
  margin: auto;
}

.img-primaire {
  margin-top: 3rem;
}

.img-title {
  margin: 1.5rem 0 2.5rem 0;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--pre-hover-color);
  font-size: 0.9em;
}

.img-userjourney {
  max-width: 100%;
  display: block;
  margin: auto;
}

.img-userstories {
  max-width: 70%;
  display: block;
  margin: auto;
}

.img-margin {
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .container-text {
    max-width: 90%;
  }
}
@media (max-width: 1078px) {
  .container-text {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .project {
    display: block;
  }
  .project-fase:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 800px) {
  .hero-text {
    font-size: 2em;
  }
  .hero-p,
  .tag-title,
  .tag-sub {
    font-size: 1em;
  }
}
@media (max-width: 770px) {
  .tag-title,
  .tag-sub {
    font-size: 1em;
  }
  .hero-tags {
    display: block;
  }
  .hero-left {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 575px) {
  .hero-tags {
    margin-bottom: 4rem;
  }
  .content {
    margin-top: 4rem;
  }
  .margin-top-bg {
    margin-top: 4rem;
  }
  .project {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 475px) {
  .hero-text {
    font-size: 1.8em;
  }
}
.foster-tag {
  text-decoration: underline;
  color: var(--blue-text-color);
}

.img-userflow {
  max-width: 100%;
  display: block;
  margin: 3rem auto 1.5rem auto;
}

.img-mobiel {
  max-width: 100%;
  display: block;
  margin: 3rem auto;
}

.img-desktop {
  max-width: 100%;
  display: block;
  margin: 3rem auto 0rem;
}

.sub-title {
  font-family: var(--primary-font);
  color: var(--text);
  margin-bottom: 1rem;
}

li {
  font-family: var(--primary-font);
  color: var(--text);
  line-height: 1.8em;
  margin-left: 1rem;
  margin-bottom: 0.6rem;
}

.ul-space {
  margin-top: 2rem;
}

:root {
  --main-bg-color: #F9E5BC;
  --blue-text-color: #DD2E4B;
  --pre-hover-color: #9E8F70;
  --text: #504734;
  --line: #D8C295;
  --primary-font: "Open Sans",
      Arial,
      Helvetica,
      sans-serif;
}/*# sourceMappingURL=main.css.map */