//margin-top

.margin-top-bg {
    margin-top: 6rem;
}

.container {
    width: 100%;
}

// class voor alle tekst 
.container-text {
    //border: 1px solid green;
    max-width: 70%;
    margin: 0 auto;
}

.hero-text {
    font-family: var(--primary-font);
    color: var(--blue-text-color);
    line-height: 1.3em;
    font-size: 2.8em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.hero-p {
    font-family: var(--primary-font);
    font-size: 1.1em;
    //color: var(--black-text);
    color: var(--text);
    line-height: 1.8em;
    margin-bottom: 2.5rem;
}

.hero-tags {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.tag-title,
.tag-sub {
    font-family: var(--primary-font);
    line-height: 1.8em;
}

.tag-title {
    color: var(--blue-text-color);
    font-weight: 600;
    margin-bottom: .5rem;
}

.tag-sub {
    color: var(--text);
}

.hero-img {
    width: 100%;
}

// einde tot alles met de foto

.content {
    margin-top: 6rem;
}

//project fase

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.circle {
    height: .6rem;
    width: .6rem;
    background-color: var(--blue-text-color);
    display: inline-block;
    border-radius: 50%;
    margin-right: .8rem;
}

.project-fase {
    display: inline-block;
    font-family: var(--primary-font);
    color: var(--blue-text-color);
    font-size: 1.1rem;
    font-weight: 400;
    border: 1px solid var(--blue-text-color);
    padding: 1rem 1rem;
    border-radius: 3rem;
}

.project-tags {
    font-family: var(--primary-font);
    color: var(--pre-hover-color);
    line-height: 1.8em;
}

// einde project fase

.content-title {
    font-family: var(--primary-font);
    color: var(--blue-text-color);
    margin-bottom: .6rem;
    font-size: 1.3em;
}

.content-p {
    font-family: var(--primary-font);
    color: var(--text);
    line-height: 1.8em;
}

.bold-span {
    font-weight: 700;
}

.white-space {
    margin-top: 1rem;
}

.line {
    //border-bottom: 1px solid var(--line);
    background-color: var(--line);
    padding: .03rem;
    margin: 3rem 0;
}

.img-quotes {
    max-width: 60%;
    display: block;
    margin: 3rem auto;
}

.img-empathy {
    max-width: 100%;
    display: block;
    margin: 3rem auto;
}

.img-primaire,
.img-secondaire {
    max-width: 100%;
    display: block;
    margin: auto;
}

.img-primaire {
    margin-top: 3rem;
}

.img-title {
    margin: 1.5rem 0 2.5rem 0;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--pre-hover-color);
    font-size: .9em;
}

.img-userjourney {
    max-width: 100%;
    display: block;
    margin: auto;
}

.img-userstories {
    max-width: 70%;
    display: block;
    margin: auto;
}

.img-margin {
    margin-top: 3rem;
}

// media queries

@media (max-width: 1200px) {
    .container-text {
        max-width: 90%
    }
}

@media (max-width: 1078px) {
    .container-text {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .project {
        display: block;
    }

    .project-fase:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media (max-width: 800px) {
    .hero-text {
        font-size: 2em;
    }

    .hero-p,
    .tag-title,
    .tag-sub {
        font-size: 1em;
    }
}

@media (max-width: 770px) {
    .tag-title,
    .tag-sub {
        font-size: 1em;
    }

    .hero-tags {
        display: block;
    }

    .hero-left {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 575px) {
    .hero-tags {
        margin-bottom: 4rem;
    }

    .content {
        margin-top: 4rem;
    }

    .margin-top-bg {
        margin-top: 4rem;
    }

    .project {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 475px) {
    .hero-text {
        font-size: 1.8em;
    }
}