.sub-title {
    font-family: var(--primary-font);
    color: var(--text);
    margin-bottom: 1rem;
}

li {
    font-family: var(--primary-font);
    color: var(--text);
    line-height: 1.8em;
    margin-left: 1rem;
    margin-bottom: .6rem;
}

.ul-space {
    margin-top: 2rem;
}