.main-text,
.sub-text {
    font-family: var(--primary-font);
}

.main-text {
    font-size: 3.5em;
    color: var(--blue-text-color);
    max-width: 90%;
    margin-bottom: 27rem;
    animation: .7s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sub-text {
    animation: .7s ease-out 0s 1 slideUp;
    display: inline-block;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--pre-hover-color);
    margin-right: 1rem;
    text-decoration: none;
    transition: all ease-in .2s;
}

.sub-text:hover {
    transform: translateY(-10px);
    color: var(--blue-text-color);
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// media queries

@media (max-width: 798px) {
    .main-text {
        font-size: 2em;
        margin-bottom: 15rem;
    }

    .sub-text {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    .main-content {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 415px) {
    .main-text {
        font-size: 1.6em;
    }
}