.flex-container {
    animation: .7s ease-out 0s 1 slideUp;
}

.row {
    display: flex;
    gap: 2rem;
}

.row-margin {
    margin-bottom: 3rem;
}

.col {
    width: 100%;
}

.col-text {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}

.col-p {
    font-family: var(--primary-font);
    color: #847757;
    font-size: 1em;
    margin-top: .8rem;
}

.col-p:first-child {
    margin-right: 1rem;
}

.img-project {
    width: 100%;
    border-radius: .8rem;
    transition: all ease-in .3s;
}

.img-project:hover {
    transform: translateY(-10px);
}

.col-a {
    text-decoration: none;
}

.col-title {
    font-family: var(--primary-font);
    color: var(--blue-text-color);
    font-weight: 600;
    font-size: 1.2em;
}

// media queries

@media (max-width: 1024px) {
    .row {
        display: block;
    }

    .col:not(:last-child) {
        margin-bottom: 4rem;
    }
}

@media (max-width: 600px) {
    .col-text {
        display: block;
    }

    .col-title {
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    .col-title {
        margin-bottom: .5rem;
    }
    
    .col-p {
        font-size: .9em;
        margin-top: .1rem;
    }
}