.foster-tag {
    text-decoration: underline;
    color: var(--blue-text-color);
}

.img-userflow {
    max-width: 100%;
    display: block;
    margin: 3rem auto 1.5rem auto;
}

.img-mobiel {
    max-width: 100%;
    display: block;
    margin: 3rem auto;
}

.img-desktop {
    max-width: 100%;
    display: block;
    margin: 3rem auto 0rem;
}